html, body {
    height: 100%;
}

body {
    background-color: aquamarine;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    color: #385555;
}
.main-wrapper {
    background-color: white;
    width: 90%;
    max-width: 450px;
    max-height: 400px;
    overflow-x: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}


.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    border-bottom: 1px solid #eee;
    padding: 16px;
}

.list-item:hover {
    background-color: #e8e8e8;
}

.list-item:hover .list-item__actions {
    opacity: 0.3;
}

.list-item__image img {
    border-radius: 50%;
    width: 95px;
}

.list-item__info {
    padding: 0 20px;
    flex-grow: 1;
}

.list-item__name {
    font-size: 24px;
    color: #385555;
    margin: 0;
}

.list-item__email {
    margin: 5px 0;
    color: #aaa
}

.list-item__actions {
    display: flex;
    gap: 16px;
    opacity: 0;

}
